<h1>Periodic Table of Elements</h1>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Name : {{element.name}}</mat-card-title>
    <mat-card-subtitle>Symbol : {{element.symbol}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table class="">
      <tbody>
        <tr>
          <th>Atomic Number</th>
          <td>{{element.atomicNumber}}</td>
        </tr>
        <tr>
          <th>Symbol</th>
          <td></td>
        </tr>
        <tr>
          <th>Name</th>
          <td></td>
        </tr>
        <!-- <tr>
          <th>Standard State</th>
          <td>{{element.atomicNumber}}</td>
        </tr> -->
        <tr>
          <th>Atomic Mass</th>
          <td>{{element.atomicMass}}</td>
        </tr>
        <tr>
          <th>Electron Configuration</th>
          <td>{{element.electronConfiguration}}</td>
        </tr>
        <!-- <tr>
          <th>Oxidation States</th>

        </tr> -->
        <tr>
          <th>Electronegativity</th>
          <td>{{element.electronegativity}}</td>
        </tr>
        <tr>
          <th>Atomic Radius</th>
          <td>{{element.atomicRadius}}</td>
        </tr>
        <tr>
          <th>Ionization Energy</th>
          <td>{{element.ionizationEnergy}}</td>
        </tr>
        <tr>
          <th>Electron Affinity</th>
          <td>{{element.electronAffinity}}</td>
        </tr>
        <tr>
          <th>Melting Point</th>
          <td>{{element.meltingPoint}}</td>
        </tr>
        <tr>
          <th>Boiling Point</th>
          <td>{{element.boilingPoint}}</td>
        </tr>
        <tr>
          <th>Density</th>
          <td>{{element.density}}</td>
        </tr>
        <tr>
          <th>Year Discovered</th>
          <td>{{element.yearDiscovered}}</td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>
